#about {
	display: flex;
	justify-content: center;
}

#about .section-container {
	max-width: 600px;
}

#about article {
	text-align: justify;
	font-size: 1.1em;
}

@media (min-width: 800px) {
	#about .section-container {
		max-width: 800px;
	}
}

@media (min-width: 1200px) {
	#about .section-container {
		max-width: 1000px;
	}
}
