.anim-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* circle animation */
.clipping-mask {
	box-sizing: border-box;
	border-radius: 50%;
	overflow: hidden;
	cursor: none;
}
